<div class="user-management">
    <!-- Create User Form -->
    <div *ngIf="canCreateUser()">
        <br>
        <h2>Create New User</h2>
        <form (ngSubmit)="createUser()">
            <label>
                Name:
                <input [(ngModel)]="newUser.name" name="name" required /> <!-- Input for user's name -->
            </label>
            <label>
                Username:
                <input [(ngModel)]="newUser.username" name="username" required /> <!-- Input for user's username -->
            </label>
            <label>
                Email:
                <input [(ngModel)]="newUser.email" name="email" type="email" required /> <!-- Input for user's email -->
            </label>
            <button type="submit" class="btn btn-sm btn-success mb-2">Create User</button> <!-- Submit button -->
        </form>
    </div>

    <!-- Edit User Form -->
    <div *ngIf="editing && selectedUser && canUpdateUser()">
        <h2>Edit User</h2>
        <form (ngSubmit)="updateUser()">
            <label>
                Name:
                <input [(ngModel)]="selectedUser.name" name="editName" required /> <!-- Input for editing user's name -->
            </label>
            <label>
                Username:
                <input [(ngModel)]="selectedUser.username" name="editUsername" required /> <!-- Input for editing user's username -->
            </label>
            <label>
                Email:
                <input [(ngModel)]="selectedUser.email" name="editEmail" type="email" required /> <!-- Input for editing user's email -->
            </label>
            <button type="submit" class="btn btn-sm btn-success mb-2">Update User</button> <!-- Submit button for update -->
            <button type="button" (click)="resetForm()" class="btn btn-link">Cancel</button> <!-- Cancel button -->
        </form>
    </div>

    <!-- User Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%">Name</th>
                <th style="width: 30%">Email</th>
                <th style="width: 30%">Role</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over users array to display user information -->
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td> <!-- Display user's name -->
                <td>{{user.email}}</td> <!-- Display user's email -->
                <td>{{user.role}}</td> <!-- Display user's role -->
                <td style="white-space: nowrap" *ngIf="canUpdateUser()">
                    <!-- Actions for updating and deleting users, shown conditionally -->
                    <button (click)="selectUser(user)" *ngIf="canUpdateUser()" class="btn btn-sm btn-primary mr-1">Edit</button>
                    <button (click)="deleteUser(user.id)" *ngIf="canDeleteUser()" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
            <!-- Show spinner if users are loading -->
            <tr *ngIf="!users">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
