<!-- Navigation Bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar items -->
    <div class="navbar-nav">
        <!-- Link to Users component -->
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Users</a>
        <!-- Conditional link to ProtectedRoute1 component -->
        <a class="nav-item nav-link" routerLink="/protected-route1"
            *ngIf="canViewRoute('protected-route1')">ProtectedRoute1</a>
        <!-- Conditional link to ProtectedRoute2 component -->
        <a class="nav-item nav-link" routerLink="/protected-route2"
            *ngIf="canViewRoute('protected-route2')">ProtectedRoute2</a>
    </div>

    <!-- Navbar collapse section -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <!-- Button to toggle Assume User section -->
        <button class="btn btn-sm btn-success mb-2" (click)="onclick()">
            {{ OpenUserListToAssume ? "Click to" : "Close" }} Assume User
        </button>
    </div>
</nav>

<!-- Assume User Section -->
<ng-container *ngIf="visible">
    <div class="bg-white shadow-sm p-3">
        Assume
        <!-- Button to assume roles for each user -->
        <button *ngFor="let user of users" (click)="assumeRole(user)">
            {{ user.name }}
        </button>
    </div>
</ng-container>

<!-- Display Current User -->
<h2 style="text-align: center;">Current User: {{ currentUser?.name || 'None' }}</h2>
